*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2{
    font-size: 45px;
    line-height: 54px;
    color: #222;
}
h4{
    font-size: 20px; 
    color: #222;
}
h6{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
body{
    width: 100%;
}
/* create */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 50px;
    left: 15px;
    background-color: rgb(240, 122, 44);
    box-shadow: 0px 5px 15px rgba(236, 85, 30, 0.794);
    position: sticky;
    left: 0;
    top: 0;;
    z-index: 999;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
#navbar.active{
    right: 0px;
}
.active{
    text-decoration-color: maroon;
}
#navbar li{
    padding: 0px 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
#navbar li a{
    color: snow;
    transition: 0.3s ease-in-out;
}
#navbar li a:hover{
    color: brown;
   
    border: none;
   
}
#mobile{
    display: none;
    align-items: center;
}
#close{
    display: none;
}
#header a.logo{
    width: 30px;
    height: 110px;
    display: flex;
    box-shadow: cadetblue;
    border-radius: 330px;
    box-shadow: 0px 5px 85px blue;
}
#banner1{
    background-image: url(./image/banner1);
    width: 100%;
    height: 90vh;
    background-size: cover;
    top: 200px;
    padding: 7px 364px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#banner1 .welcomebut{
    background-color: rgba(236, 85, 30, 0.794);
    border-radius: 6px;
    border: none;
    width: 40%;
    transition: 0.3s ease-in-out;
}
#banner1 .welcomebut h2{
    color: whitesmoke;
}
#banner1 .welcomebut h2:hover{
    cursor: pointer;
    color: tomato;
}
#banner1 .welcomebut:hover{
    background-color: wheat;
}
#product{
    padding: 20px 25px;
   
}
#product .pro1{
    width: 23%;
    height: 456px;
    min-width: 250px;
    border: 1px solid rgb(165, 127, 102);
    padding: 6px 10px;
    padding-top: 70px;
    border-radius: 19px;
    position: relative;
     padding-top: 5px;
     background-color: rgba(246, 242, 13, 0.39)
 }
 #product .pro1 img{
     width: 100%;
     border-radius: 20px;
     max-height: 65%;
    
 }
 #featured{
     padding: 3px 0px;
 }
#featured h2{
    color: yellow;
    font-style: initial;
    font-weight: 800; 
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    background-color:rgb(255, 171, 115);
    border-radius: 1px;
}
#product .star{
    color: rgb(255, 196, 0);
    font-weight: 470;
    padding: 4px;
}
#product .bag{
    color: seagreen;
    box-shadow: seagreen;
    border-radius: 50px;
}
 #product .bag button{
     border-radius: 50px;
     width: 35px;
     height: 35px;
     position: absolute;
     justify-content: center;
     background-color: rgba(255, 99, 71, 0.5);
     transition: 0.3s ease; 
 }
 #product .bag button:hover{
    background-color: whitesmoke;

 }
 #product .pro1{
     
     transition: 0.3s ease;
 }
 #product .pro1:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.644);
    cursor: pointer;
 }
 #product .npro1:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.644);
    cursor: pointer;
 }
 #product .des{
     text-align: center;
     padding-top: 5px;
     color: rgba(0, 47, 255, 0.808);
     font-weight: 630;
 }
 #product .des h4{
     color: orangered;
     font-weight: 550;
 }
 #product .parent-container{
     display: flex;
   padding: 1px 35px;
   
   justify-content: space-between;
   flex-wrap: wrap;
 }

#product .bag{
    align-items: center;
    width: 87%;
}
#product .product1{
    padding: 8px 5px;
}
#parent-carousel{
    padding: 7px 15px;
    width: 100%;
    box-shadow: 10px 8px solid orange;
}
#new-arrival {
    background-color: rgba(32, 178, 171, 0.356);
    width: 100%;
     display: flex;
     justify-content: center;
}
#new-arrival h2{
    font-weight: 800;
    font-style: initial;
    color: rgba(0, 0, 205, 0.582);
}
#new-arrival h4{
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: dimgray;
}
#product .npro1{
    width: 23%;
    height: 456px;
    min-width: 250px;
    border: 1px solid rgb(165, 127, 102);
    padding: 6px 10px;
    padding-top: 70px;
    border-radius: 19px;
    position: relative;
     padding-top: 5px;
     background-color: rgba(30, 143, 255, 0.335);
 }
 #product .npro1 img{
    width: 100%;
    border-radius: 20px;
    max-height: 65%; 
}

#product .nbag button{
    border-radius: 50px;
    width: 35px;
    height: 35px;
    position: relative;
    justify-content: center;
    background-color:whitesmoke;
    transition: 0.3s ease; 
}
#product .nbag button:hover{
   background-color: rgba(0, 128, 128, 0.829);

}
#newsletter{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    background-image: url(./image/newlsletterbackground.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    box-shadow: 10px 2px blue;
    position: relative;
}
#newsletter .letters{
    padding: 5px 34px;
}
#newsletter .letters span{
   color: rgba(255, 255, 0, 0.678);
}
#newsletter .letters h2{
    color: rgba(255, 255, 255, 0.726);
    font-weight: 500;
}
#newsletter .letters h4{
    color: rgba(245, 245, 245, 0.527);
    font-weight: 280;
}
#newsletter .form{
    padding: 2px 39px; 
}
#newsletter .form-text{
    height: 31px;
}
#newsletter .form button{
    background-color: cornflowerblue;
    width: 80px;
    height: 30px;
    border-radius: 35px;
    transition: 0.3s ease-in-out;
}
#newsletter .form button:hover{
  background-color: whitesmoke;
}
#footer .icons{
    color: 
}
#footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 11px 20px;
}
#footer .links{
    display: flex;
    flex-direction: column;
}
@media(max-width:799px){
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -300px;
        height: 100vh;
        weight: 300vh;
        background-color: rgb(255, 171, 115);
        box-shadow: 0 40px 60px rgba(255, 68, 0, 0.527);
        padding: 80px 0 0 10px;

    }
    #navbar li{
     margin-bottom: 25px;
    }
    #mobile{
        display:flex;
        align-items: center;
    }
    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: orangered;
        font-size: 25px;
    }
    #banner1 {
        height: 70vh;
        
        padding: 0 80px;
        background-position: top 30% right 30%;
    }
    #newsletter {
       
        justify-content: center;
       
    }
    h4 {
        font-size: 20px;
        color: #222;
        justify-content: center;
      }
      #banner1 .welcomebut {
      
        display: none;
        justify-content: center;
        top: 6px;
    }
}
@media (max-width:477px) {
    #header {
       
        padding: 5px 14px;
    }
    #featured h2 {
        text-align: center;
    }
    #product .parent-container {
        justify-content: flex-end;
    }
    * {
    
        text-align: center;
    }
    #footer {
       
        flex-direction: column;
    }
}
/* media querry end */
#shop-banner{
    background-image: url(./image/shop-banner3.png);
    padding: 4px 5px;
    margin-left: 30px;
    width: 100%;
   height: 40vh;
   background-repeat: no-repeat;
   margin-top: 10px;
   
}
#shop-banner .banner-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 300px;
    padding-top: 20px;
}
#shop-banner .banner-text h2{
    font-weight: 800;
    color: darkslateblue;
}
#shop-banner .banner-text h4{
    font-weight: 770;
    color: darkslategray;
}
#sproduct{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(246, 242, 13, 0.39);
    border-radius: 20px;
    margin-top: 10px;
    padding: 0px 6px;
}
#sproduct .photo{
    justify-content: right;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 8px;
    border-radius: 20px;
}
#sproduct .sproduct-text{
    padding-left: 70px;
    padding-top: 30px;
}
#sproduct .description,
#sproduct .return{
    line-height: 30px;
    padding-top: 10px;
    margin-right: 4px;
}
#sproduct .description p,
#sproduct .return p{
    font-weight: 530;
}



